# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / Packaging
build/
dist/
*.spec
!MeetRec.spec
*.exe
rnnoise.dll
rnnoise.exp
rnnoise.lib
.deps/

# User Settings
settings.json

# IDE
.vscode/
.idea/
